{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" href="{% static 'style.css' %}" rel="stylesheet" >
    <title>Kamila Kaffah</title>
</head>
<header id="header">
    <h1>Halo, Apa Kabar?</h1>
</header>
<body>
    <form action="" method="POST" class = "container">
        {% csrf_token %}
        {{ form }}
        <button id="tombol" type="submit">Submit</button>
    </form>
    <div class="box">
    <h3><b>Daftar Status</b></h3>
    <br>
        {% for items in data %}
    <h4> {{items.pesan}} </h1>
    <p> {{items.waktu}} </p>
    <br>
        {% endfor %}
    </div>
</body>
</html>