* {
    margin: 0px;
}
body, html {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;  
}

#header{
    height: 120px;
    padding: 100px 100px 50px 100px;
    text-align: center;
    font-family: 'Chewy', cursive;
    background-color: cornflowerblue;
}

.box {
    float: left;
    font-family: 'Chewy', cursive;
    padding-left: 50px;
    padding-right: 50px;
}

#id_your_message {
    height: 20px;
    width: 30%;
}